#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: lightyellow;
}

* {

}

.shopping-list {
  border: 1px solid green;
  background-color: white;
  padding: 20px;
}

.list-item {
  text-align: left;
}

ul {
  list-style-type: circle;
}

form {
  display: grid;
 gap: 20px;

}

input {
  background-color: lightgrey;
}

.add-item-button {
  border: 1px solid black;
}