#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: white;
}

* {
  color: #1e5631;
}

h1 {
  color: #1e5631;
}

.shopping-list {
  border: 4px solid #ecfad5;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 8px;
}

.list-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  text-align: left;
  display: grid;
  gap: 20px;
  margin: 10px;
}

ul {
  list-style-type: none;
}

form {
  display: grid;
  gap: 20px;
}

input {
  background-color: lightgrey;
  padding: 10px;
  background-color: #ecfad5;
}

.add-item-button {



}

button {
  color: #1e5631;
  background-color: #a4de02;
}

select {
  padding: 10px;
}

.add-item-input-error {
  color: red;
}

.list-item-ticked {
  border-radius: 50%;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #a4de02;
}

.list-item-unticked {
  border-radius: 50%;
  border: 1px solid #a4de02;
  background-color: white;
  color: #a4de02;
  width: 50px;
  height: 50px;
}

.list-item {
  display: flex;

  align-items: center; /* Vertically aligns them in case of different heights */
}

.list-item-text {
  /* You can add some space between the button and the text */
}

.strikethrough {
  text-decoration: line-through;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border: 1px solid red;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

option {
  padding: 10px;
}

h3 {
  background-color: #ecfad5;
}

.shopping-list-title {
  display: grid;
  align-items: flex-start;

  margin: 10px; /* optional space between title and button */
}

.edit-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.edit-list-name {
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #ecfad5;
  text-decoration: underline;
}

.shopping-list-title-row {
  display: flex;
  justify-content: flex-start; /* aligns items to the left */
  align-items: center;
  gap: 0.5rem; /* optional space between title and button */
  text-align: left;
  margin: 10px;
}

h2 {
  margin: 0px;

}

/* lightestblue: #e3f1ff
lightblue: #89bff8
mediumblue: #408ee0
darkblue: #1b75be */
